@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

body {
  font-family: 'Helvetica', 'Arial';
  background-image: url('img/bg.jpg');
  height: 100%;
  width: 100%;
}

.wrapper {
  @include span-columns(12 of 12);
}

.login-container {
  position: absolute;
  top: 40%;
  @include span-columns(3);
  @include shift(4.5);
  background-color: white;
  border-radius: 5px;
  border: #eaeaea 1px solid;
  padding: 40px 0;

  input {
    @include span-columns(10);
    @include shift(1);
  }
  input[type=submit] {
    @include span-columns(6);
    @include shift(3);

  }
}


