.todoo-box
  margin-top: 20px
  margin-bottom: 0

.todoo-item
  +span-columns(12)
  background-color: #ffffff
  color: #ababab
  padding: 15px 10px 0 10px
  min-height: 40px

  p
    line-height: 0.8
